.ui-splash-content-grid-modif-password{
    width: calc((100%) - 1%);
    border: 1px solid transparent;
    position: relative;
    top: 10px;
}

.ui-splash-content-error-update-profile{
    height: 40px;
    width: calc((100%) - 6%);
    border: 1px solid red;
    border-radius: 3px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 10px;
    color: red;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 3px;
    text-align: justify;
}

.ui-splash-content-error-update-profile-valid{
    height: 40px;
    width: calc((100%) - 6%);
    border: 1px solid green;
    border-radius: 3px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 10px;
    color: green;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 3px;
    text-align: justify;
}