<!DOCTYPE html>
<html>
    <head>
        <title>Shoopii</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
        <link rel="stylesheet" type="text/css" href="/css/resetpassw.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="initial-scale=1.0" />

        <!-- script de de fonctionnalite du js et ajax -->
        <script src=" /ajax/jquery-3.4.1.js "></script>
    </head>
    <body>
        <section class="ui-splash-content-header">
            <div class="ui-splash-title-content-header">
                <span>Anonymous</span>
                <span class="ui-splash-content-header-icon">?</span>
                <span>Chat</span>
            </div>
            <div class="ui-splash-content-menu-app">
                <ul>
                    <li>
                        <a href="/"><i class="fa fa-code"></i>Manage</a>
                    </li>
                    <li>
                        <a href="/profil"><i class="fa fa-universal-access"></i>Profil</a>
                    </li>
                    <li>
                        <% if(locals.urltoast === "/boite" || locals.urltoast === "/boite/") { %>
                            <a href="/boite" class="ui-nav-stocks-url"><i class="fa fa-comments"></i>Messagerie</a>
                        <% } else { %>
                            <a href="/boite"><i class="fa fa-comments"></i>Messagerie</a>
                        <% }%> 
                    </li>    
                </ul>
                <% if(locals.statusconnexion) { %>
                    <a href="/loggout"><button class="ui-splash-content-bottom-signout"><i class="fa fa-unlock"></i>sign out</button></a>
                <% } %>        
            </div>  
        </section>
        <% if(locals.messtype == "assurez-vous que tout soit correct ! :(") { %>
            <div class="ui-splash-content-error-update-profile"><%= messtype %></div>
        <% } %>
        <% if(locals.messtype == "changement de mot de passe réussi :) !") { %>
            <div class="ui-splash-content-error-update-profile-valid"><%= messtype %></div>
        <% } %>
        <div class="ui-splash-content-grid-modif-password">
            <form action="/resetpassword" method="post">
                <p class="ui-splash-content-form-map-signup">Processus de réinitialisation! </p> 
                <input type="text" class="ui-splash-content-title-map-fields-signup" name="avatar" placeholder="Entrer votre avatar">
                <input type="password" class="ui-splash-content-title-map-fields-signup" placeholder="Nouveau mot de passe" name="pass">
                <input type="submit" value="Youpii" class="ui-splash-content-button-confirm-fields-signup">
            </form>
        </div>
        
    </body>
</html>